<% layout('layout') -%>

<div class="row">
<div class="col-md-4">
    <img src="/imgs/error.png" class="img-responsive">
    </div>
<div class="col-md-8">
    <h1>404 - 找不到网页</h1>
    <hr>
    <h4>朋友，你是不是找错地方了？ 我们等等看能不能解决问题。不好意思带来的不方便。</h4>
    </div>
</div>