<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">

<head>
    <meta name="baidu-site-verification" content="Eh1tqk6VnK" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Demandoo">

    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>



   <title>Demandoo | 你的语言好伴</title>
 
</head>

<body class="my-font" style="padding-top: 50px;">
    <% include ../partials/header %>
    <div class="container" style="padding-right: 0px;
padding-left: 0px;">
        <div style="position: relative;overflow:hidden;height: 500px;margin-top:100px;">
        <h1 style="text-align:center;">Y'ello !</h1>
            <h1 style="text-align:center;">你的学英语路程的好伴就是我</h1>
            <center>
        <img src="/imgs/mascot.png" class="img-responsive">
                </center>
        </div>
  <div style="position: relative;overflow:hidden;height: 840px;">
      <h1 style="writing-mode: tb-rl;margin-top: 100px;" >使用智能语法工具写更好的作文</h1>
      <a class="gram-btn" href="/editor" style="position: absolute;left: 30%;top: 74%;z-index: 1;color: #fff;" >开始改作文</a>
      <img src="/imgs/1.gif" style="position: absolute;
top: 145px;
height: 50%;
left: 25%;">
      
    <img src="/imgs/imac.png" style="top: 100px;
position: absolute;
left: 25%;
height: 80%;">
      
    
    </div>
    <div class="row">
        <div class="col-md-6">
         <h1 style="text-align:center;">发你的作文让大家给你评论。算是 "broaden your horizon"吧！</h1>
            <center>
        <img src="/imgs/essay.png" class="img-responsive" style="margin-bottom: 35px;">
                <a class="gram-btn" href="/essays" style="color: #fff;width: 50%;text-align: center;" >看作文</a>
                <a class="gram-btn" href="/post-essay" style="color: #fff;width: 50%;text-align: center;" >发作文</a>
                </center>
            
        </div>
        <div class="col-md-6">
        <h1 style="text-align:center;">用 Chatter Box 每天跟其他同学聊聊同时提高词汇量</h1>
            <center>
        <img src="/imgs/chatter1.png" class="img-responsive" style="margin-bottom: 100px;" >
                <a class="gram-btn" href="/chat" style="color: #fff;width: 50%;text-align: center;" >开始聊</a>
                </center>
            
        </div>
        </div>
  </div>
            <!-- /container -->

            <% include ../partials/footer %>


    
</body>

</html>
