<% layout('layout-nojs') -%>


        <div class="col-xs-8">
                    <form method="post" action="/new-model-test" name="newModel" enctype="application/x-www-form-urlencoded">
                 <div class="form-group">
                   <label name="title">题目：</label>
                    <input type="text" name="title" class="form-control" >

                </div>
                         <div class="form-group">
                <label>考试类别:</label>
                
                <select name="testType"  class="form-control" style="width:30%;">
                <option value="IELTS">IELTS</option>
                <option value="TOEFL">TOEFL</option>
                </select>
                    </div> 
                        <div class="form-group">
                   <label name="score">分数：</label>
                    <input type="text" name="score" class="form-control" style="width:30%;" >

                </div>
                        <label name="essay">作文：</label>
                        <div class="form-group" style="border: 1px solid #ccc;
border-radius: 5px;">
                    
                    <textarea name="body" class="form-control" id="essay" rows="15"  placeholder="就在这里写。。。"></textarea>

                </div>
                <button type="submit" style="width: 100%;border-radius: 5px;border: none;padding: 5px;margin-top: 10px;background-color: #7f54bd;color: white;font-size: 20px;" id="submit" style="width: 100%;">发模版</button>

            </form>
        </div>
