<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="LzHZxMQSwL2vuJ80HCij_6LTzQ9a8hnA_vtwzu6OBRY" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demandoo is a sharing economy platform that allows users to borrow, lend or rent anything and everything.">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>



   <title>Demandoo | Sharing Everything</title>
 
</head>

<body class="my-font" style="padding-top: 50px;">

<div class="container">
    <div class="col-md-6">
    <form action="/new-blog-post" method="post">
    <div class="form-group">
        <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group">
    <textarea name="body" id="body" rows="15" class="form-control"></textarea>
        </div>
    <button class="btn btn-success" type="submit">Post</button>
    
    </form>
    
    </div>
    </div>
       
</body>

</html>
