<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 <!-- Latest compiled and minified CSS -->

      <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
      <script src="/js/custom.js"></script>
<script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
		
<script type="text/javascript"
    src="/js/jquery-1.7.0.min.js"></script>
<script type="text/javascript"
    src="/js/tiny_mce.js"></script>
<script type="text/javascript"
    src="/js/editor_plugin2.js"></script>
      
      <script type="text/javascript"
    src="/js/plugins/atd-tinymce/css/content.css"></script>
      <script type="text/javascript"
    src="/js/plugins/atd-tinymce/css/en.js"></script>
      <script type="text/javascript"
    src="/js/langs/en.js"></script>
      

    <title>提交成功</title>

  </head>

  <body style="margin-top:100px;" class="my-font">
     

 

    <div class="container">
      <!-- Example row of columns -->
       
     <div class="col-xs-12">
         <h2>提交成功<span class="glyphicon glyphicon-ok-circle" style="color:green;" aria-hidden="true"></span>

 </h2>
         <h3>感谢您参加Demandoo写作比赛。我们考官检查你们的作文后会在12月10号前给出结果发礼物。</h3>
         
         
         <h3>如果您还想每天学更多关于英语的各个方面知识点，请<a href="/signup">点这里</a>加入我们。</h3>
         <br>
         <h3>谢谢</h3>
        </div>
    

      
    </div> <!-- /container -->

      

  </body>
</html>
        







