<% layout('layout') -%>


    <div class="col-md-8 col-md-offset-2">
        <h1>Demandoo 使用规律：</h1>
        <p>请在注册前好好读我们的这些小规律。这里我们会解释一下在 Demandoo 上可以做和不可以做的几件事：</p>
        <div align="center">
            <hr align="center" size="2" width="100%" />
        </div>
        <h2>1- 年龄要求：</h2>
        <p>我们要求您的年龄是13岁以上才能注册。如果您是13岁以下，请让您的父母或负责人帮您注册。</p>
        <p>&nbsp;</p>
        <h2>2- 犯罪行为：</h2>
        <p>在用 Demandoo 的时候，您不允许做犯罪的行为。这包括用不合适的语速，不礼貌的单词或短语，任何推广或广告，买卖等等。同时您也不允许跟其他用户分享自己或自己公司的联系方式等等。Demandoo 知识为了更好地学习语言设计。您在Demandoo 网的所行为必须尊重我们的这些小规定。</p>
        <p>&nbsp;</p>
        <h2>3- 怎么用 Demandoo ：</h2>
        <p>Demandoo 的最重要的功能是在智能语法工具。您打开语法工具后可以填写自己的小作文，文章，邮件等等 （当时只支持英语）然后点“检查语法”后可以看到您的一些语法错误。我们的智能系统当时只会改对88%的语法错误，但是我们越来越提高它，还有通过人工智能它会学习每个人的语法错误慢慢提高自己的改对能力。</p>
        <p>您改对您的语法后也可以在上面点发作文吧自己的作文跟别的同学分享。这样会对你和别人有很多好处：1- 别人可以看你的文章给你评论一些没有改对得小问题。 2-您可以收到其他同学对您作文的关于词汇量或其他的建议。 3- 如果你写的好别人也可以向你学习学习。</p>
        <h2>6- 您的信息安全：</h2>
        <p>您的 Demandoo 网的所有信息会在我们的安全服务器保存。我们用SSL加密，所以不会有任何信息安全的问题。为了保护自己的安全我们也建议您不用自己的重要信息。在选密码的时候最好不要用您在其他地方用过的密码。</p>
        <p>&nbsp;</p>
        <h2>7- 责任：</h2>
        <p>在用我们的服务时候，请注意您是对自己所行为的负责人。如果您分享不尊重我们规定的资料，我们有屏蔽您账号的权利。屏蔽过的用户只能3个月后再次注册。</p>
        <p>&nbsp;</p>
        <h3>如果您还有其他问题或不太明白我们的规律请<a href="/contact">联系我们</a>，我们会尽快回复您。</h3>
        <h3>感谢您用 Demandoo</h3>
        
    </div>