<footer class="footer">

    <div class="row" style="padding-top: 30px;">
         
    <div class="container">
       <b><h4>About Demandoo:</h4></b>
        <hr>
    
    <div class="col-md-4">
        
        <a class="dropdown-toggle" href="/essays">看作文</a> 
        
        
        

        </div>
        <div class="col-md-4">
            <a href="/tou">网站使用规律</a>
        </div>
        
        <div class="col-md-4">
            <a href="/contact">联系我们</a>
        </div>
        
       
        <div class="col-md-12 col-md-offset-5" style="margin-top:50px;">
        <img src="/imgs/logo-footer-white.png" class="img-responsive" style="height:20px;">
            <p style="padding-left: 40px;">2017</p>
        </div>
        </div>
        </div>
</footer>