<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%- description %>">
    <meta name="author" content="Demandoo">
 <!-- Latest compiled and minified CSS -->

      <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
      <script src="/js/custom.js"></script>
<script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
		

    <title><%- title %></title>

  </head>

  <body style="margin-top:100px;" class="my-font">
      <% include ./partials/header %>

 

    <div class="container">
      <!-- Example row of columns -->
     
      <%- body -%>

      
    </div> <!-- /container -->
<% include ./partials/footer %>
      

  </body>
</html>
